fastapi
uvicorn
python-multipart
requests
pandas
asyncpg
psycopg2-binary
python-dotenv
python-magic-bin
Pillow
openpyxl
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-ollama
ollama
PyPDF2
pypdf
pdfminer.six
torch
docx2txt
redis